<% if statement %>
<% each do |u| %>
  <div class ="thirds">
    <!-- all of the card information goes here -->
  </div>
<% end %>




<!-- This is for your stylesheet -->
<style>
  .thirds {
    display: inline-block;
    width: 33%;
  }
</style>